* {
    .jobs-management{

        &__content{
            .col{
                margin-left: 0.8rem;
            }
        }

        &__inner{
            border-radius: 0.5rem;
            height: fit-content;
            margin-bottom: 2rem;
            margin-left: 0.8rem;
        }

        &__detail{

            &-title{
                position: relative;
    
                *{
                    margin: 0;
                }
                
                h3{
                    font-size: 2rem;
                    max-width: 40rem;
                    font-weight: bold;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                p{
                    color: #353535;
                }
            }
        }
    }

    #job-detail-modal{
        
        & > .modal-content{

            & > .modal-header{

                & > .modal-title{
                    font-size: 2rem;
                    font-weight: bold;
                } 
            }

            & > .modal-body{
                height: 60vh;
                max-height: 75vh;
                height: fit-content;
                overflow-x: hidden;
                
                & > .title{
                    
                    h1{
                        font-size: 2rem;
                        font-weight: bold;
                        margin: 0;
                    }
                }

                & > .description{
                    
                    & > h3 {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    & > p{
                        font-size: 1rem;
                        font-weight: 600;
                        color: #696969;
                    }

                    & > ul{
                        list-style: inside;
                        list-style-type: disc;

                        li{
                            font-size: 1rem;
                            font-weight: 600;
                            color: #696969;
                        }
                    }
                }

            }
        }
    }
}