*{
    .search-bar{
        .search-btn{
            &__btn{
                display: inline-block;
            }
        }
    }

    .search{
       
        .search-option{
            .icon{
                z-index: -1;
            }

            select{
                cursor: pointer;
                width: 13.5rem;
                z-index: 0;
                background-color: transparent;
            }
        }
    }

    .candidate-jobs{
        margin: 4rem 10rem 10rem 10rem;

        &__cards-view{
            border-right: #c3c3c3 solid 1px;

            #jobs-cards-action{
                span:nth-child(2){
                    font-size: 1rem;
                    align-self: flex-end;
                }
            }
        }

        &__inner{
            margin: 1rem 0;
        }
        
        &-view__detail{
            width: 100%;
            height: fit-content;
            border-radius: 0.5rem;
            border: solid 1px #c3c3c3;
            background-color: #fff;
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            cursor: pointer;

            &:hover{
                border: solid 2px #237ea3;
            }

            &-title{
                position: relative;

                *{
                    margin: 0;
                }
                
                h1{
                    font-size: 1.5rem;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    line-clamp: 2;
                    text-overflow: ellipsis;
                    max-width: fit-content;
                }

                p{
                    color: #353535;
                }

                .card-option{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: fit-content;
                }
            }

            &-description{
                & > p{
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    line-clamp: 2;
                    text-overflow: ellipsis;
                    max-width: fit-content;
                }
            }
        }

        &__container{
            height: 100rem;
        }

        &-view__pagination{
            list-style-type: none;
            width: fit-content;
            margin: 0;
            padding: 0;

            & li{
                margin: 0 0.2rem;
                border-radius: 12px;
                text-align: center;
                color: #005f8e;
                font-size: 1.5rem;
                font-weight: bold;

                
                &:hover{
                    color: #28a5f5;
                    border: #bbb solid 1px;
                }

                &.selected{
                    color: #28a5f5;
                    border: #bbb solid 1px;
                }

                & > a{
                    padding: 0 0.5rem;
                }
            }
        }
    }

    .time{
        font-size: 1rem;
        color: #767676;

        *{
            font-size: 1rem;
            color: #767676;
        }
    }

    .job-detail-note{
        padding-right: 0;

        &__container{
            position: relative;
            width: 100%;
            border: 1px #c3c3c3 solid;
            border-radius: 0.5rem;
        }

        &__view{
            max-height: inherit;

            .button{
                color: #fff;
                font-weight: 600;
            }
        }
    }
}