*{
    .search{
        .search-bar{
        
            &__direct{
                z-index: 1;
                top: 1.5rem;
                right: 0.7rem;
    
                & > button{
                    height: 3rem;
                    width: 8rem;
                    border-radius: 0 0.5rem 0.5rem 0 ;
                    color: #fff;
                    font-weight: bold;
                    background-color: #17a2b8;
                    border: 0;
    
                    &:hover{
                        background-color: rgba(23,162,184,0.9);
                    }
                }
            }

            .search-btn__btn{
                display: none;
            }
        }
    }

    .advanced-search{
        margin: 0;
        height: fit-content;

        *{
            margin: 0 0 1rem 0;
        }

        &__container{
            width: 20rem;
            *{
                margin: 0 0 0.5rem 0;
            }
        }

        &__inner{
            position: relative;
            height: 2.5rem;

            .form-control{
                padding-left: 2.5rem;
                height: inherit;
                width: 18rem;
                background: transparent;
            }
        }

        &__icon{
            position: absolute;
            height: inherit;
            margin: 0;
            top: calc(50% - 0.7rem);
            left: 0.8rem;
            z-index: -1;

            i{
                color: #17a2b8  !important;
                font-size: 1.1rem;   
            }
        }

        p:first-child{
            margin-right: 10rem;
        }
    }

    .jobs-cards{
        &__content{
            margin: 1rem 3rem;
            display: grid;
            grid-template-columns: 35.646rem 35.646rem 35.646rem;
            row-gap: 3rem;
            column-gap: 3rem;
    
            .card{
                width: 100%;
            }
        }

        &__link{
            border-radius: 30px;

            &:hover{
                box-shadow: 0px 5px 10px #17a2b8;
                transition: box-shadow 0.2s ease;
            }
        }
    }
}

@media only screen and (min-width: 992px){
    #search-input{
        display: block;
    }

    #job-cards{
        flex: none;
        max-width: 100%;
        text-align: -webkit-left;

        .card{

            .no-gutter{

                .useravatar{
                    height: 6rem;
                }
            
                .card-body{
                    width: 15rem;
                }

                .card-description{
                    max-width: 13rem;
                }

            }
        }
    }
}

@media(hover: none){
    #search-input .submit-container button:hover{
        background-color: #5fb2ff;
    }
}

@media only screen and (min-width: 768px) {
    #job-cards{
        text-align: -webkit-left;
        padding: 0;
    }
}

@media only screen and (max-width: 768px){
    #job-cards{
        display: block !important;

        .card{
            margin: 1rem 0;

            .card-body{
                width: auto;

                .card-info{
                    text-align: left;
                }
            }
        }
    }
}