.unauthorized{

    &__hero{
        width: 100%;
        height: 100vh;
        background: #304352;
        background: -webkit-linear-gradient(to right, #546572, #d7d2cc);
        background: linear-gradient(to right, #546572, #d7d2cc);
    }
}