.modal-header{

    .button-close{
        border: none;
        margin-top: 0.5rem;
        top: 0.5rem;
        right: 1rem;
        

        &::before{
            font: var(--fa-font-solid);
            content: '\f057';
            font-size: 1.4rem;
            color: #888;
        }
    }
}